# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Logs
*.log

# Data
data/raw/
data/processed/

# Jupyter
.ipynb_checkpoints/

# Airflow
airflow/logs/

# Docker
*.pid

# Power BI
*.pbix.lock