# Virtual Environment
retailpulse_env/
.venv/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# VS Code
.vscode/

# Data files
data/raw/
data/processed/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db